*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #666380;
}

.wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  max-width: 320px;
  margin: 0 auto;
  transform: translate(-50%, -50%);
}

.calc-display {
  padding: 0.8em;
  background-color: #150941;
  color: #fff;
  border-radius: 0.5em;
}

.calc-display .previous-operand {
  background-color: #2f225c;
  color: white;
  font-size: 1.5rem;
  border-radius: 0.3rem;
  text-align: right;
}
.calc-display .current-operand {
  background-color: #1d104e;
  color: wheat;
  font-size: 2.5rem;
  text-align: right;
}

.calc-btns {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.calc-btns button {
  cursor: pointer;
  font-size: 1.8em; /*
  min-height: 60px;*/
  border-radius: 0.3em;
  border-style: double;
}

.span-two {
  grid-row: span 2;
}

button {
  background-color: #b06a62;
  color: #fff;
}

.brown-color {
  background-color: brown;
}

.grey-color {
  background-color: #929c9b;
}
